svg {
  background-color: whitesmoke;
}

.my-rect {
  fill: green;
}

.greens {
  fill: green;
}

.purples {
  fill: purple;
}

.group-greens {
  fill: #8fbc8f;
}

.group-purples {
  fill: mediumpurple;
}

body {
  display: flex;
}